@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 ">Тестовое задание</h1>
    <p class="text-start">
        Ниже описание тестового задания. Как будет готово, присылайте исходный код. Среди критериев, по которым мы оцениваем выполнение задачи, следующие:<br>
        1. Работоспособность и отсутствие серьезных ошибок.<br>
        2. Плюсы: Легкая архитектура, использование стандартных и рекомендованных решений, аккуратное оформление кода, внимательная реализация всех описанных деталей задания.<br>
        3. Минусы: Реализация универсальных решений на все случаи жизни, использование оригинальных решений взамен стандартных, злоупотребление шаблонами проектирования и т.п.<br>

        Нужно создать web-приложение для управления списком продуктов.<br>
        1.	Среда разработки - Microsoft Visual Studio, язык - C#, база данных - Microsoft SQL Server, framework - ASP.NET Core MVC.<br>
        2.	Продукт содержит следующие поля: id, название, описание, цена. Информацию о продуктах хранить в базе данных с помощью Entity Framework.<br>
        3.	Раздел для управления продуктами. Доступ к разделу разрешать только авторизованному пользователю, логин и пароль которого прописан в конфигурационном файле.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1.	Для авторизации создать страницу логина.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;2.	Страница со списком продуктов. В списке выводить id, название, цену и ссылку на страницу редактирования. Перед списком добавить ссылку для создания нового продукта.<br>
        &nbsp;&nbsp;&nbsp;&nbsp;3.	Страница создания / редактирования продукта.<br>
        4.	API для получения продуктов. Формат данных - JSON. API должно быть доступно анонимному пользователю (авторизация не нужна).<br>
        &nbsp;&nbsp;&nbsp;&nbsp;1.	Метод получения списка продуктов c опциональной возможностью фильтрации по названию и интервалу цен. Метод должен возвращать краткую информацию о продуктах (id, название, цена).<br>
        &nbsp;&nbsp;&nbsp;&nbsp;2.	Метод получения подробной информации о продукте (все поля), принимающий id продукта.
    </p>
</div>
